option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 3600
files: 
  "/etc/yum.repos.d/mongodb.repo":
    mode: "000644"
    content: |
      [mongodb-org-3.0]
      name=MongoDB Repository
      baseurl=https://repo.mongodb.org/yum/amazon/2013.03/mongodb-org/3.0/x86_64/
      gpgcheck=0
      enabled=1
  "/opt/mongos.conf":
    mode: "000755"
    content: |
      logpath=/opt/mongodb/log/mongo.log 
      dbpath=/opt/mongodb/data/db
commands:
  a_make_dir:
    command: mkdir -p -m 777 '/opt/mongodb'
  b_make_dir:
    command: mkdir -p -m 777 '/opt/mongodb/log'
  c_make_dir:
    command: mkdir -p -m 777 '/opt/mongodb/data'
  d_make_dir:
    command: mkdir -p -m 777 '/opt/mongodb/data/db'
  e_install_mongo:
    command: yum install -y mongodb-org
  f_make_dir:
    command: mkdir -p -m 777 '/OsmToMongo'
  g_wget_gitHub:
    command: wget -O /OsmToMongo/master.zip https://github.com/helmutkemper/teste/archive/master.zip
  h_unzip_gitHub:
    command: unzip -o /OsmToMongo/master.zip
  i_wget_openstreet:
    command: wget -O /OsmToMongo/brazil-latest.osm.bz2 http://download.geofabrik.de/south-america/brazil-latest.osm.bz2
  j_unzip_gitHub:
    command: tar -jxf /OsmToMongo/brazil-latest.osm.bz2
    ignoreErrors: true
services:
  sysvinit:
    mongod:
      enabled: true
      ensureRunning: true
      commands: 'mongod'